In [ ]:
# Dictionary 
# -indexed
# -duplicate value
# -ordered
# -mutable

In [1]:
d=dict()
d={}

In [3]:
d={"a":"apple","b":"ball"}
d

{'a': 'apple', 'b': 'ball'}

In [4]:
d['b']

'ball'

In [5]:
d={"a":"apple","b":"ball","A":"apple"}
d

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [6]:
d={"A":"apple","b":"ball","A":"apple"}
d

{'A': 'apple', 'b': 'ball'}

In [8]:
d={"a":"apple","b":"ball","A":"apple"}
d['c']='Cat'
d

{'a': 'apple', 'b': 'ball', 'A': 'apple', 'c': 'Cat'}

In [9]:
d={"a":"apple","b":"ball","A":"apple"}
d['a']='Apple'
d

{'a': 'Apple', 'b': 'ball', 'A': 'apple'}

In [10]:
d={}
d['a']='Apple'
d['b']='Ball'
d

{'a': 'Apple', 'b': 'Ball'}

In [11]:
d={}
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name ")
    phone=int(input("Enter phone "))
    d[name]=phone
    
print(d)

Enter n=2
Enter name Ram
Enter phone 9869044990
Enter name Princee
Enter phone 9815620879
{'Ram': 9869044990, 'Princee': 9815620879}

In [12]:
d={'Ram': '9869044990', 'Princee': '9815620879'}
for i in d.values():
    print(i)

9869044990
9815620879

In [13]:
d={'Ram': '9869044990', 'Princee': '9815620879'}
for i in d.items():
    print(i)

('Ram', '9869044990')
('Princee', '9815620879')

In [14]:
l=[]
d={'Ram': '9869044990', 'Princee': '9815620879'}
for i in d.items():
    l.append(i)
    
print(l)

[('Ram', '9869044990'), ('Princee', '9815620879')]

In [15]:
type(l)

list

In [16]:
dict(l)

{'Ram': '9869044990', 'Princee': '9815620879'}

In [17]:
#del

d={'Ram': '9869044990', 'Princee': '9815620879'}
del d['Ram']
d

{'Princee': '9815620879'}

In [18]:
#pop
d={'Ram': '9869044990', 'Princee': '9815620879'}
c=d.pop('Ram')
print(c)
print(d)

9869044990
{'Princee': '9815620879'}

In [19]:
# list inside dictionary
d={'Ram':['9811636449','9869044990'],'Princee':['9815620879','9744357773']}
d

{'Ram': ['9811636449', '9869044990'], 'Princee': ['9815620879', '9744357773']}

In [23]:
d={}
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name ")
    ntc_phone=int(input("Enter ntc phone "))
    ncell_phone=int(input("Enter ncell phone "))
    d[name]=[ntc_phone, ncell_phone]
    
print(d)

Enter n=2
Enter name Ram
Enter ntc phone 9869044990
Enter ncell phone 9811636449
Enter name Princee
Enter ntc phone 9744357773
Enter ncell phone 9815620879
{'Ram': [9869044990, 9811636449], 'Princee': [9744357773, 9815620879]}

In [24]:
d={'Ram':['9811636449','9869044990'],'Princee':['9815620879','9744357773']}
d['Hari']=['9888000000','9800676767']
d

{'Ram': ['9811636449', '9869044990'],
 'Princee': ['9815620879', '9744357773'],
 'Hari': ['9888000000', '9800676767']}

In [25]:
d={'Ram':['9811636449','9869044990'],'Princee':['9815620879','9744357773']}
del d['Ram'][0]
d

{'Ram': ['9869044990'], 'Princee': ['9815620879', '9744357773']}

In [28]:
d={'name':['Ram','Shyam','Hari'],'age':[22,23,32],'add':['Dhn','ktm','bkt']}
d

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [22, 23, 32],
 'add': ['Dhn', 'ktm', 'bkt']}

In [29]:
d={'name':['Ram','Shyam','Hari'],'age':[22,23,32],'add':['Dhn','ktm','bkt']}

d['name'].append('Prm')
d['age'].append(22)
d['add'].append('Dhn')
d

{'name': ['Ram', 'Shyam', 'Hari', 'Prm'],
 'age': [22, 23, 32, 22],
 'add': ['Dhn', 'ktm', 'bkt', 'Dhn']}

In [30]:
# dict inside list
l = [{'name':'Ram','age':45,'add':'Kathmandu'},
    {'name':'Rama','age':41,'add':'Bara'},
    {'name':'Shyam','age':48,'add':'Bara'}]
l

[{'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 {'name': 'Rama', 'age': 41, 'add': 'Bara'},
 {'name': 'Shyam', 'age': 48, 'add': 'Bara'}]

In [31]:
l=[]
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name ")
    age=int(input("Enter age "))
    add=input("Enter address")
    d={'name':name, 'age':age, 'add':add}
    l.append(d)
    
print(l)

Enter n=2
Enter name Ram
Enter age 22
Enter addressDhangadhi
Enter name Prm
Enter age 21
Enter addressDHN
[{'name': 'Ram', 'age': 22, 'add': 'Dhangadhi'}, {'name': 'Prm', 'age': 21, 'add': 'DHN'}]

In [42]:
l[0]['name']="Rama"

IndexError: list index out of range

In [37]:
del l[0]
l

IndexError: list assignment index out of range

In [39]:
# dict inside dict
d = {1:{"name":"Ram","grade":"A"},
    2:{"name":"Hari","grade":"B"},
    3:{"name":"Sita","grade":"C"}}
d

{1: {'name': 'Ram', 'grade': 'A'},
 2: {'name': 'Hari', 'grade': 'B'},
 3: {'name': 'Sita', 'grade': 'C'}}

In [40]:
d = {}
d[1]={"name":"Ram","grade":"A"}
d[2] = {"name":"Hari","grade":"B"}
d

{1: {'name': 'Ram', 'grade': 'A'}, 2: {'name': 'Hari', 'grade': 'B'}}

In [41]:
d = {1:{"name":"Ram","grade":"A"},
    2:{"name":"Hari","grade":"B"},
    3:{"name":"Sita","grade":"C"}}
d[1]['name']

'Ram'